/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button {
  all: initial;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Shrikhand";
  src: url(../img_txt/police/Shrikhand-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../img_txt/police/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url(../img_txt/police/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../img_txt/police/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(../img_txt/police/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
}

header i {
  color: black;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}

.menu-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 280px;
}

.menu {
  max-width: 1055px;
  margin: auto;
  background-color: #F7F7F7;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu__title {
  position: relative;
  padding: 1em 1em 1em 0.7em;
  font-size: 1.75em;
  margin: auto;
  margin-top: -2em;
  border-radius: 1.2em 1.2em 0 0;
  background-color: #F7F7F7;
}
@media screen and (min-width: 1024px) {
  .menu__title {
    display: flex;
    justify-content: center;
    max-width: 1055px;
  }
}

.menu__heart {
  position: absolute;
  top: 1.2em;
  right: 0.8em;
}
@media screen and (min-width: 1024px) {
  .menu__heart {
    right: 13em;
  }
}

.entrees, .desserts, .plats {
  padding: 0 1em 1em 1em;
  margin: auto;
  overflow: hidden;
  animation: 1.7s 1 normal slidein;
  animation-delay: 0.3s;
}
.entrees h2, .desserts h2, .plats h2 {
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 0.5em;
  position: relative;
}
.entrees h2::after, .desserts h2::after, .plats h2::after {
  content: "";
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2.5em;
  height: 0.2em;
}

.plats {
  animation-delay: 0.65s;
}

.desserts {
  animation-delay: 1s;
}

.colored--heart {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}
.colored--heart:hover {
  opacity: 1;
}
.colored--heart::before {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.99);
  z-index: 1000;
  animation: loader;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}

.loader__item {
  height: 3em;
  width: 3em;
  border: 5px solid #000000;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: 1s infinite linear rotation;
}

@keyframes slidein {
  from {
    padding-left: 10em;
    opacity: 0;
  }
  to {
    padding-left: 1em;
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
.main-btn, .commander__menu-btn {
  max-width: 220px;
  color: #FFF;
  font-family: "Roboto", "sans-serif";
  font-weight: 400;
  text-align: center;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 25px;
  padding: 1em 1.25em;
  opacity: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-property: opacity, box-shadow;
  transition-duration: 0.5s;
}
.main-btn:hover, .commander__menu-btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.75);
}

.commander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.commander__menu-btn {
  padding: 1em 3em;
  margin-bottom: 2.5em;
}

.functionning__card {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  align-items: center;
  position: relative;
  flex: 1;
  margin-left: 0.8em;
  padding: 1.625em;
  line-height: 1.25em;
  font-weight: 500;
  border-radius: 20px;
  background-color: #F7F7F7;
}
.functionning__card p:first-child {
  position: absolute;
  font-size: 14px;
  left: -0.8em;
  color: #FFF;
  padding: 0.1625em 0.6em;
  border-radius: 100%;
  background: #9356DC;
}
.functionning__card .card__logo::before {
  display: flex;
  flex-direction: row;
  font-size: 1.25em;
  margin-left: 0.65em;
  margin-right: 0.8em;
  width: 1.5em;
}

.restaurants__card {
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 15px;
  position: relative;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.restaurants__card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
  width: 100%;
}
.restaurants__card .card__content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.7em 0.75em 1em;
  gap: 0.2em;
  width: 100%;
}
.restaurants__card .card__content h3 {
  font-size: 1.125em;
  font-weight: 700;
}
.restaurants__card .card__content p {
  font-size: 1.06em;
  font-weight: 300;
}
.restaurants__card .card__content i {
  position: absolute;
  top: 1.1em;
  right: 1em;
}

.nouveau__card {
  position: absolute;
  right: 1em;
  top: 1em;
  color: #008766;
  font-size: 0.8em;
  font-weight: 700;
  padding: 0.5em 1em;
  border-radius: 2px;
  background-color: #99E2D0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}

.menu__card {
  display: flex;
  flex-direction: row;
  margin: 1em 0 1em 0;
  padding: 1em;
  background-color: #FFF;
  border-radius: 1em;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.menu__card--text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
}
.menu__card h3 {
  font-size: 1em;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card p {
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card > p {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 700;
  padding-left: 0.5em;
  margin-right: 1em;
}
.menu__card--click {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 4em;
  margin: -1em -5em -1em 0em;
  transition-property: margin;
  transition-duration: 1.25s;
}
.menu__card--click i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100px;
  background: #FFF;
  color: #99E2D0;
}
.menu__card:hover .menu__card--click {
  margin: -1em -1em -1em 0em;
}
@media screen and (min-width: 1024px) {
  .menu__card {
    width: 635px;
  }
}

.header__title {
  text-align: center;
  font-size: 1.875em;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  z-index: 10;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.header__menu {
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.header__menu .fa-arrow-left {
  position: absolute;
  top: 1.7em;
  left: 1.2em;
  font-size: 1.4em;
  height: 1.8em;
  width: 1.8em;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 100;
}
.header__menu .fa-arrow-left::before {
  line-height: 1.8em;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  color: #FFF;
  background-color: #353535;
  width: 100%;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 1.125em;
  font-weight: 400;
  margin-bottom: 0.75em;
}
footer a {
  display: flex;
  flex-direction: row;
  color: #FFF;
  font-size: 0.875em;
  padding: 0.25em 0;
}
footer a i {
  font-size: 1.2em;
}
footer .footer__logo::before {
  display: flex;
  flex-direction: row;
  font-size: 0.85em;
  margin-right: 0.25em;
  width: 1.5em;
}
@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
  }
  footer h2 {
    margin-bottom: 0;
    margin: 1.5em 1.5em 1.5em 3em;
  }
  footer .footer__text {
    display: flex;
    flex-direction: row;
    margin-top: 1.5em;
    gap: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.intro {
  display: flex;
  flex-direction: column;
}

.fa-location-dot {
  color: black;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  gap: 1em;
  background-color: #EAEAEA;
}
.location > p {
  font-weight: 500;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5em 1.875em 3.5em;
  gap: 1.55em;
  background-color: #F7F7F7;
}
.booking > h2 {
  padding: 0 1em 0 1em;
}
.booking > p {
  font-size: 18px;
}

.functionning {
  padding: 3.125em 1.25em 4.375em;
}
.functionning .container {
  display: flex;
  flex-direction: column;
  gap: 1.625em;
}
@media screen and (min-width: 1024px) {
  .functionning .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .functionning .container h2 {
    width: 100%;
  }
}

.fa-mobile-screen-button, .fa-bars {
  color: #7E7E7E;
}

.fa-store {
  color: #9356DC;
}

.restaurants {
  padding: 3.5em 1.1em 4.125em;
  background-color: #F7F7F7;
}
.restaurants h2 {
  margin-bottom: 1em;
}
.restaurants__card-panel {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 2em;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurants__card-panel {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
}

.container {
  max-width: 1280px;
  margin: auto;
}/*# sourceMappingURL=style.css.map */