.footer {
    @include flex-column;
    padding: 1.5em;
    color: $white-color;
    background-color: $footer-bg-color;
    h2 {
        font-family: 'Shrikhand', 'sans-serif';
        font-size: 1.125em;
        font-weight: 400;
        margin-bottom: 0.75em;
    }
    a {
        @include flex-row;
        color: $white-color;
        font-size: 0.875em;
        padding: 0.25em 0;
        i {
            font-size: 1.2em;
        }
    }
    &__logo {
        &::before {
            @include flex-row;
            font-size: 0.85em;
            margin-right: 0.25em;
            width: 1.5em;
        }
    }
}