.header__title {
    text-align: center;
    font-size: 1.875em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    z-index: 10;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.10);
}

.header__menu {
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.10);
    .fa-arrow-left {
        position: absolute;
        top: 1.7em;
        left: 1.2em;
        font-size: 1.4em;
        height: 1.8em;
        width: 1.8em;
        transform: translateY(-50%);
        @include flex-row;
        align-items: center;
        justify-content: center;
        color: black;
        z-index: 100;
        &::before {
            line-height:1.8em;
        }
    }
}