.main-btn {
    max-width: 220px;
    color: $white-color;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    text-align: center;
    background: linear-gradient(to top,$primary_color,$secondary_color);
    border-radius: 25px;
    padding: 1em 1.25em;
    opacity: 1;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25);
    transition-property: opacity, box-shadow;
    transition-duration: 0.5s;
    &:hover {
        opacity: .85;
        box-shadow: 0px 4px 12px rgba(0,0,0,0.75);
    }
}

.commander {
    @include flex-row;
    justify-content: center;
    align-items: center;
    &__menu-btn {
        @extend .main-btn;
        padding: 1em 3em;
        margin-bottom: 2.5em;
    }
}