.functionning__card {
    @include flex-row;
    @include element-shadow;
    align-items: center;
    position: relative;
    margin-left: 0.8em;
    padding: 1.625em ;
    line-height: 1.25em;
    font-weight: 500;
    border-radius: 20px;
    background-color: $main-bg-color;
    p:first-child {
        position: absolute;
        font-size: 14px;
        left: -0.8em;
        color: $white-color;
        padding: 0.1625em 0.6em;
        border-radius: 100%;
        background: $primary_color;
    }
    .card__logo {
        &::before {
            @include flex-row;
            font-size: 1.25em;
            margin-left: 0.65em;
            margin-right: 0.8em;
            width: 1.5em;
        }
    }
}

.restaurants__card {
    @include flex-column;
    border-radius: 15px;
    img {
        @include img-cover;
        object-position: 50% 60%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 175px;
        width: 100%;
    }
    .card__content {
        @include flex-column;
        position: relative;
        padding: 0.7em 0.75em 1em;
        gap: 0.2em;
        width: 100%;
        h3 {
            font-size: 1.125em;
            font-weight: 700;
        }
        p {
            font-size: 1.06em;
            font-weight: 300;
        }
        i {
            position: absolute;
            top: 1.1em;
            right: 1em;
        }
    }
}