body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
}

header {
    i {
        color: black;
    }
}

h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 400;
}

.menu-img {
    @include img-cover;
    width: 100%;
    max-height: 280px;
}

.menu {
    max-width: 1055px;
    margin: auto;
    background-color: $main-bg-color;
    @include desktop {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

.menu__title {
    position: relative;
    padding: 1em 1em 1em 0.70em;
    font-size: 1.75em;
    margin: auto;
    margin-top: -2em;
    border-radius: 1.2em 1.2em 0 0;
    background-color: $main-bg-color;
    @include desktop {
        display: flex;
        justify-content: center;
        max-width: 1055px;
    }
}

.menu__heart {
    position: absolute;
    top: 1.2em;
    right: 0.8em;
    @include desktop {
        right: 13em;
    }
}

.entrees {
    padding: 0 1em 1em 1em;
    margin: auto;
    overflow: hidden;
    animation: 1.7s 1 normal slidein;
    animation-delay: .3s;
    h2 {
        font-size: 1.2em;
        font-weight: 400;
        padding-bottom: 0.5em;
        position: relative;
        &::after {
            content: "";
            background: $tertiary_color;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 2.5em;
            height: 0.2em;
        }
    }
}

.plats {
    @extend .entrees;
    animation-delay: .65s;
}

.desserts {
    @extend .entrees;
    animation-delay: 1s;
}

.colored--heart {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
    &:hover {
        opacity: 1;
    }
    &::before {
    background-image: linear-gradient(to top,$primary_color,$secondary_color);
    background-clip: text;
    color: transparent;
    }
}