@font-face {
    font-family: "Shrikhand";
    src: url(../../img_txt/police/Shrikhand-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(../../img_txt/police/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(../../img_txt/police/Roboto-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(../../img_txt/police/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(../../img_txt/police/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
}
