$breakpoints: (
    tablet: 768px,
    desktop: 1024px,
    max-menu: 635px,
);

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints,tablet)) {
        @content
    }
};

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints,desktop)) {
        @content
    }
};

@mixin max-menu {
    @media screen and (min-width: map-get($breakpoints,max-menu)) {
        @content
    }
};

@mixin element-shadow {
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
};

@mixin flex-row {
    display: flex;
    flex-direction: row;
};

@mixin flex-column {
    display: flex;
    flex-direction: column;
};

@mixin img-cover {
    object-fit: cover;
};

@mixin text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}
