$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$quaternary_color: #008766;
$main-bg-color: #F7F7F7;
$location-bg-color: #EAEAEA;
$footer-bg-color: #353535;
$white-color: #FFF;
$grey-color: #7E7E7E;
